<div class="w-[90%] m-auto mt-10 lg:text-center lg:mt-15">
    <h1 class="text-[2.5rem] font-extrabold text-[var(--neutral-900)] leading-[1.2]">Explore our simple, healthy recipes</h1>
    <p class="text-[1.125rem] text-[var(--neutral-600)] leading-[1.6] mt-2 lg:max-w-[800px] lg:m-auto lg:mt-4">Discover eight quick, whole-food dishes that fit real-life 
  schedules and taste amazing. Use the search bar to find a 
  recipe by name or ingredient, or simply scroll the list and 
  let something delicious catch your eye.</p>
</div>