---
import imageLarge from "../../../../public/images/image-home-hero-large.webp";
import imageSmall from "../../../../public/images/image-home-hero-small.webp";
import imagePattern from "../../../../public/pattern-squiggle-1.svg";
---

<div class="flex flex-col gap-4">
    <div class="h-full mt-10 flex flex-col md:justify-center m-auto md:text-center">
      <div class="w-[95%] pl-3 m-auto mb-0">
        <h1 class="font-bold text-[3rem] text-[var(--neutral-900)] mb-3 leading-[1.1]">
          <span class="relative">
            Healthy
            <div class="absolute opacity-50 z-[-1] bg-[var(--orange-500)] w-full h-[15px] bottom-0 left-0"></div>
          </span>{" "}
          meals, zero fuss
        </h1>
        <p class="text-[1.125rem] text-space-[0.5px] text-[var(--neutral-900)] mb-2 md:max-w-[450px] lg:max-w-[600px] m-auto">
          Discover eight quick, whole-food recipes that you can cook tonight—no
          processed junk, no guesswork.
        </p>
        <button class="btn w-[200px]">Start exploring</button>
      </div>
      <div class="relative mt-4">
        <div class="w-[95%] md:m-auto">
          <img
            src={imageLarge.src}
            alt="Healthy meals, zero fuss"
            class="border border-white border-[5px] rounded-lg mt-4 hidden md:block"
          />
          <img
            src={imageSmall.src}
            alt="Healthy meals, zero fuss"
            class="w-full mx-3 border border-white border-[5px] rounded-lg mt-4 md:hidden"
          />
        </div>

        <img
          src={imagePattern.src}
          class="w-full h-full absolute right-0 z-[-1] top-0"
        />
      </div>
    </div>
</div>