@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font: "Nunito Sans", sans-serif;
}

:root {
  --neutral-900: #163a34;
  --neutral-600: #395851;
  --neutral-300: #d0dcd9;
  --neutral-200: #e0e6e3;
  --neutral-100: #f6f5f1;
  --orange-500: #fe9f6b;
  --teal: #49ac9b;
  --indigo-500: #697ddb;
}

body {
  font-family: var(--font);
  background-color: var(--neutral-100);
}

.btn {
  background-color: var(--neutral-900);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--neutral-600);
}
